<% include ../views/tp.html %>
<link rel="stylesheet" href="/video6.2.5.js/css/video-js.css"/>
<style>
    #title{width: 740px;}
    #title a{
       font-size: 30px;float:right;}
    #title h2{display: block;position: absolute;z-index: -1000; }
</style>
</head>
<body>
<div class="container" id="title">
    <h2><%= title %></h2>
    <a href="/">HOME</a>
</div>

<div class="container" id="videopay"></div>
<br/>
<div class="container">
    <ul id="videolist"></ul>
</div>


<div id="listjson" style="display: none"><%= movlist %></div>


<script type="text/javascript">
    $(document).ready(function () {
        var listjson = JSON.parse($("#listjson").text());
        //console.log(listjson);
        for (var i in listjson) {
            $("#videolist").append(function () {
                var albumlist = '';
                albumlist += '<li value="' + listjson[i]['dir'] + '">' + listjson[i]['dir'] + '</li>';
                return (albumlist);
            });
        }
        $("#videolist li").click(function () {
            //console.log($(this).text());
            $("#videopay").empty();
            $.post('/showvideo', {
                'videoNumber': $(this).text(),
                'movname': $('title').text(),

            }, function (data) {
                //console.log(data);
                $("#videopay").append(data);

            });
        });


    })


</script>


<% include ../views/bt.html %>