body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
    width: 740px;
    margin: auto;
    margin-bottom: 10px;
}

a {
    color: #00B7FF;
}

ul {
    list-style: none;
    width: 740px;
    margin: auto;
    display: block;
    padding: 0px;
}

ul li {
    width: 184px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: #ccc;
    margin: 1px 1px 0px 0px;
}